@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Julius+Sans+One&family=Megrim&family=Paytone+One&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Julius+Sans+One&family=Megrim&family=Nunito:wght@200;300;400;500;600&family=Paytone+One&family=Permanent+Marker&family=Roboto:wght@100&display=swap');

body, html{
/*deletes space on sides and top*/
  margin: 0px;
  padding: 0px; 
  background: linear-gradient(0deg,#181818,transparent 50%);
/*  background-color: #f9f4eb;*/
/*   background: linear-gradient(0deg, #181818, white);*/
/*  box-sizing: border-box;*/
}

* {
  box-sizing: border-box;
}

.logo{
  margin-left: 40px;
  align-content: center;
  cursor: pointer;
  transition: 0.15s; 
  height: 40%;
  margin-top: 25px;
}





.header{
  height: 80px;
  width: 100%; 
/*  background-color: white;*/
  background-color: #080808;
  display: flex;
/*  justify-content: space-between;*/
  position: fixed;

  z-index: 100;
  padding:0;
  margin: 0; 
/*  border-style: solid;*/

}

.header_buttons{
   display: flex;
   flex-direction: row;
/*   width: 10vw;*/
   justify-content: center; 
   align-items: center; 
/*   padding-left: 10px;*/
   margin-top: -55px;
   padding-left: 50px;

}

.tv_container,
.movies_container,.home_container,.new_container,
.list_container, .langs_container{
  display: flex;
  flex-direction: row;
/*  width: 10vw;*/
  justify-content: center;
  align-items: center;
  margin-right: 20px; 

  margin-top: 55px;
/*  margin-left: 20px; */
 
}

.profile{
  width: 2.5%;
  margin-top: 20px;
  margin-left: 650px;
  height: 45%;
  border-radius:9px ;
  cursor: pointer;

}





/*OTHER LINK*/
.link2{
  font-family: Nunito;
  font-weight: 500;
  text-decoration: none;
  color:  #d8d8d8; 
  transition: 0.15s;

}



.link{
  font-family: Nunito;
  font-weight: 300;
  text-decoration: none;
  color: #d8d8d8; 
  transition: 0.15s;
  font-size: 15px;


}

.link:hover{
  color: #b3b3b3;
}


.img-container{
  margin-bottom: -500px;
  height: 100vh;
  background-color: blue;


/*  background: linear-gradient(0deg, #181818, white);*/
/*  background: linear-gradient(0deg, #181818, transparent 50%);*/

/*  background-color: black;*/
/*  background: linear-gradient(180deg, #18181, transparent 50%);*/
}

.main-img{

  width: 100vw;
  overflow-x: hidden;
  
}

.thumbnail{

/*FOR CHECKING  */
/*  background-color: red;*/

}

.thumbnail-image{
  margin-left: 5px;
  object-fit: fill;
  width: 350px;
  border-radius: 8px;


}

.main-text{
  margin-top: -400px;
  margin-left: 120px;
  color: blue;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 19px;
  color: #d8d8d8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section {
  padding-left: 5px;
  grid-column-start: 0;
  grid-column-end: span 4;
  /*FOR CHECKING  */
/*   background-color: blue; */
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 1vmin;
  margin-top: 25px;


}

.play-button{
   display: flex;
   flex-direction: row;
/*   width: 10vw;*/
   justify-content: center; 
   align-items: center; 
   padding-left: 10px;
   margin-top: 25px;
   padding-right: 1020px;
/*   margin-left: 110px;*/


}


.img-but{
  width: 15px;
  height: 15px;
  margin-top: 2px;
}



.button1{

  color: white;
    font-family: sans-serif; 
    font-weight: 100; 
    font-size: 16px;
/*    color: #293241; */
/*    color: white;*/
    padding: 8px 19px;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/*    border-color: #293241; */
    border-color: black;
    border-style:solid;
    border-width: 1.8;
    cursor:pointer; 
    transition: 0.15s; 
/*    background-color: #e9d9d3;*/
    background-color: black;
    opacity: 0.5;


   
}

.button2{

   color: black;
    font-family: sans-serif; 
    font-weight: 400; 
    font-size: 16px;
/*    color: #293241; */
/*    color: white;*/
    padding: 8px 40px;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/*    border-color: #293241; */
    border-color: white;
    border-style:solid;
    border-width: 1.8;
    cursor:pointer; 
    transition: 0.15s; 
/*    background-color: #e9d9d3;*/
    background-color: white;
    opacity: 0.8;
    margin-right: 15px;
    transition: 0.15s;


}




.rec{
  font-family: sans-serif;
  font-weight: 400px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-top: 100px;

}

















  





















