ody, html{
/*deletes space on sides and top*/
  margin: 0px;
  padding: 0px; 
  background-color: black;
/*  background-color: #f9f4eb;*/
/*   background: linear-gradient(0deg, #181818, white);*/
/*  box-sizing: border-box;*/
}

* {
  box-sizing: border-box;
}

.heading{
  color: #E50914;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 100;
  margin-left: 275px;
  padding-top: 50px;
  padding-bottom: -500px;
  line-height: 2;
  
}



.info-box{
  padding-top: -40px;

  padding-left: 40px;
/*  background-color: blue;*/
  padding-bottom: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

}

.p{
  color: white;

}

.name{
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  transition: 0.15s;

}

.name:hover{
  color: gray;
}


.large-box{

  margin-left: 230px;
  margin-top: 0px;

/*  background-color: purple;*/
  display: flex;
  flex-direction: column;
}

.logo{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 22%;
  height: auto;
}

.line{
  z-index: 100;
   background-color: white;
   opacity: 0.5;
  height: 0.8px;
  width: 80%;
}

.mid-div{
  display: flex;
  flex-direction: row;

}


.text{
  color: darkgray;
  line-height: 0.5;

  font-family: futura;
  font-weight: 200px;
  font-size: 18px;

  padding-top: 30px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}